&nbsp;&nbsp;
<button
    class="btn btn-outline-secondary"
    hx-get="{{url_for('records.hours.show')}}"
    hx-target="#recordsarea"
    hx-swap="innerHTML"
>Hours</button>

&nbsp;&nbsp;
<button
    class="btn btn-secondary"
    hx-get="{{url_for('records.entries.showportal')}}"
    hx-target="#recordsarea"
    hx-swap="innerHTML"
>Time Entries</button>

&nbsp;&nbsp;
<button
    class="btn btn-secondary"
    hx-get="{{url_for('records.users.showall')}}"
    hx-target="#recordsarea"
    hx-swap="innerHTML"
>Users</button>

&nbsp;&nbsp;
<button
    class="btn btn-secondary"
    hx-get="{{url_for('records.company.show')}}"
    hx-target="#recordsarea"
    hx-swap="innerHTML"
>Company</button>

&nbsp;&nbsp;
<button
    class="btn btn-secondary"
    hx-get="{{url_for('records.logout')}}"
    hx-target="#recordsarea"
    hx-swap="innerHTML"
>Logout</button>
&nbsp;&nbsp;

<br/>
<br/>
<form
    hx-post="{{url_for('records.hours.portalsearch')}}"
    hx-target="#recordsarea"
    hx-swap="innerHTML"
>
{{ form.hidden_tag() }}

<table class="table table-borderless">
    <tr class="row">
        <td class="col">{{ form.employee.label(class="form-label") }}</td>
        <td class="col">{{ form.start_date.label(class="form-label") }}</td>
        <td class="col">{{ form.end_date.label(class="form-label") }}</td>
        <td class="col"></td>
    </tr>
    <tr class="row">
        <td class="col">{{ form.employee(class="form-control") }}</td>
        <td class="col">{{ form.start_date(class="form-control") }}</td>
        <td class="col">{{ form.end_date(class="form-control") }}</td>
        <td class="col">{{ form.submit(class="btn btn-outline-success") }}</td>
    </tr>
</table>
</form>

<br/>

{% if flagged > 0 %}
<b>flagged entries: </b><b class="something">{{flagged}}</b>
<br/>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Total Time</th>
        </tr>
    </thead>
    <tbody>
        {% for user in pull_users %}
        <tr>
            <td>{{ user.user.name }}</td>
            <td>{{ user_hours[user.user.id] }}</td>
        </tr>
        {% endfor%}
    </tbody>
</table>