h1, h3 {
	color: darkblue;
	
}

body {
	background: #f4f4f4;
}

i {
	color: darkblue;
}

.something {
	color: darkred;
}

.navico {
	color: whitesmoke
}

.navico-plane {
	color: goldenrod
}

body::before {
  display: block;
  content: '';
  height: 60px;
}

.recordbutton {
	width: 150px;
}

.userbadge {
	color: gray;
}

.adminbadge {
	color: gray;
}

.userdisabled {
	color: red;
}

.useractive {
	color: green;
}

.userpassword {
	color: goldenrod;
}

.flagged {
	color: red;
}