{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

<div class="shadow p-3 mb-5 bg-body rounded">
	<div 
		id="date"
		class="date"
		hx-post="{{url_for('clock.getdate')}}"
		hx-target="#date"
		hx-swap="outerHTML"
		hx-trigger="load"
	>00/00/0000</div>
	<div id="clock">00:00:00</div>
	<br/>
	<div id="clockContainer">
		<div id="hour"></div>
		<div id="minute"></div>
		<div id="second"></div>
	</div>

<br/>
<hr>
<br/>

	<div 
		id="mainarea"
		hx-post="{{url_for('clock.showmain')}}"
		hx-target="#mainarea"
		hx-swap="innerHTML"
		hx-trigger="load"
	>
	{% if current_user.is_authenticated %}
	{% include 'punch/punches.html' %}
	{% else %}
	{% include 'login/login-load.html' %}
	{% endif %}

	</div>
	
	<br/>
</div>

<script src="{{ url_for('static', filename='js/clock.js') }}" type="text/javascript"></script>
<script>
	showTime();
</script>

{% endblock %}