Welcome {{current_user.name}}
<a
    href="#"
    hx-post="{{url_for('clock.profileshow')}}"
    hx-target="#mainarea"
    hx-swap="innerHTML"
>profile</a>

<br/>
You are currently 
<b class="something">
{% if current_user.last_clock %}
Clocked In
{% else %}
Clocked Out
{% endif %}
</b>

<br/>
<br/>

<div class="d-grid gap-2 col-1">
    <button
        class="btn btn-secondary"
        hx-get="{{url_for('clock.logout')}}"
        hx-target="#mainarea"
        hx-swap="innerHTML"
    >Logout</button>

    {% if current_user.last_clock %}
    <!-- already logged in -->
        <button 
            class="btn btn-outline-info"
            hx-get="{{url_for('clock.onepunch', type='i')}}"
            hx-target="#mainarea"
            hx-swap="innerHTML"
            hx-confirm="You are already clocked in. Clock in anyways?"
        >Clock In</button>

        <button 
            class="btn btn-primary"
            hx-get="{{url_for('clock.onepunch', type='o')}}"
            hx-target="#mainarea"
            hx-swap="innerHTML"
        >Clock Out</button>
    {% else %}
    <!-- not logged in -->
        <button 
            class="btn btn-primary"
            hx-get="{{url_for('clock.onepunch', type='i')}}"
            hx-target="#mainarea"
            hx-swap="innerHTML"
        >Clock In</button>

        <button 
            class="btn btn-outline-info"
            hx-get="{{url_for('clock.onepunch', type='o')}}"
            hx-target="#mainarea"
            hx-swap="innerHTML"
            hx-confirm="You are already clocked out. Clock out anyways?"
        >Clock Out</button>
    {% endif %}
</div>


<br/>
<div  class="d-grid gap-2 col-4">
    {% for message in get_flashed_messages() %}
    
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>

<br/>

 Your last <b class="something">{{last}}</b> time entries

<br/>
<br/>

<div
    id="hourstable"
    hx-post="{{url_for('clock.pullpunches')}}"
    hx-target="#hourstable"
    hx-swap="innerHTML"
    hx-trigger="load"
>
    <table class="table">
        <tr class="row">
            <th class="col">Date</th>
            <th class="col">Clock In</th>
            <th class="col">Clock Out</th>
            <th class="col">Hours</th>
            <th class="col">Flag</th>
        </tr>
        <tr>
            <td>loading records...</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>