<tr class="row">
    <td class="col">
        {% if punch.clock_date %}
        {{punch.clock_date.strftime("%m/%d/%Y")}}
        {% else %}
        ----
        {% endif %}
    </td>
    
    <td class="col">
        {% if punch.clock_in %}
        {% if current_user.time_format == 0 %}
            {{punch.clock_in.strftime("%T")}}
        {% else%}
            {{punch.clock_in.strftime("%r")}}
        {% endif %}
        {% else %}
        ----
        {% endif %}
    </td>

    <td class="col">
        {% if punch.clock_out %}
        {% if current_user.time_format == 0 %}
            {{punch.clock_out.strftime("%T")}}
        {% else%}
            {{punch.clock_out.strftime("%r")}}
        {% endif %}
        {% else %}
        ----
        {% endif %}
    </td>

    <td class="col">
        {% if punch.time_total %}
        {{ punch.time_total }}
        {% endif %}
  </td>
    <td class="col">
        <form 
            hx-target="closest tr"
            hx-swap="outerHTML"
            hx-post="{{url_for('clock.punchnote', id=punch.id)}}"
            id="editform">
            {{ form.hidden_tag() }}

        {{form.flag_note(class='form-control', autofocus=true)}}
        <br/>
        <input class="btn btn-success" id="submit" name="submit" type="submit" value="Save"
			form="editform">
        <button
            class="btn btn-secondary"
            hx-post="{{url_for('clock.punchshowrow', id=punch.id)}}"
            hx-target="closest tr"
            hx-swap="outerHTML"
        >Cancel</button>
        </form>
    </td>
</tr>