<tr class="row">
    <td class="col">
        {% if punch.clock_date %}
        {{punch.clock_date.strftime("%m/%d/%Y")}}
        {% else %}
        ----
        {% endif %}
    </td>
    
    <td class="col">
        {% if punch.clock_in %}
            {% if current_user.time_format == 0 %}
                {{punch.clock_in.strftime("%T")}}
            {% else%}
                {{punch.clock_in.strftime("%r")}}
            {% endif %}
        {% else %}
        ----
        {% endif %}
    </td>

    <td class="col">
        {% if punch.clock_out %}
            {% if current_user.time_format == 0 %}
                {{punch.clock_out.strftime("%T")}}
            {% else%}
                {{punch.clock_out.strftime("%r")}}
            {% endif %}
        {% else %}
        ----
        {% endif %}
    </td>

    <td class="col">
        {% if punch.time_total %}
        {{ punch.time_total }}
        {% endif %}
  </td>

    <td class="col">
        {% if punch.flag == 'n' %}
        <button 
            class="btn btn-outline-warning"
            style="color: black"
            title="flag punch for review"
            hx-post="{{url_for('clock.punchflag', flag='flag', id=punch.id)}}"
            hx-target="closest tr"
            hx-swap="outerHTML"
        ><i class="bi bi-flag"></i> flag</button>
        
        {% else %}
        <button 
            class="btn btn-warning"
            title="unflag punch for review"
            hx-post="{{url_for('clock.punchflag', flag='unflag', id=punch.id)}}"
            hx-target="closest tr"
            hx-swap="outerHTML"
        ><i class="bi bi-flag"></i> unflag</button>
        &nbsp;&nbsp;
        <a
            href="#"
            hx-post="{{url_for('clock.punchnoteshow', id=punch.id)}}"
            hx-target="closest tr"
            hx-swap="outerHTML"
        >
        {% if punch.flag_note %}
        <i class="bi bi-journal-text h4 flagnote" title="{{punch.flag_note}}"></i>
        {% else %}
        <i class="bi bi-journal h5 flagnote" title="Note why this is flagged for the admin"></i>
        {% endif %}
        </a>
        {% endif %}
        
        
    </td>
</tr>