&nbsp;&nbsp;
{% if page == 'h' %}
{% set button = 'btn-outline-secondary' %}
{% else %}
{% set button = 'btn-secondary' %}
{% endif %}

<button
    class="btn {{button}} recordbutton"
    hx-post="{{url_for('records.hours.show')}}"
    hx-target="#recordsarea"
    hx-swap="innerHTML"
>Hours</button>

&nbsp;&nbsp;
{% if page == 't' %}
{% set button = 'btn-outline-secondary' %}
{% else %}
{% set button = 'btn-secondary' %}
{% endif %}

<button
    class="btn {{button}} recordbutton"
    hx-post="{{url_for('records.entries.showportal')}}"
    hx-target="#recordsarea"
    hx-swap="innerHTML"
>Time Entries</button>

&nbsp;&nbsp;
{% if page == 'u' %}
{% set button = 'btn-outline-secondary' %}
{% else %}
{% set button = 'btn-secondary' %}
{% endif %}

<button
    class="btn {{button}} recordbutton"
    hx-post="{{url_for('records.users.show')}}"
    hx-target="#recordsarea"
    hx-swap="innerHTML"
>Users</button>

&nbsp;&nbsp;
{% if page == 'c' %}
{% set button = 'btn-outline-secondary' %}
{% else %}
{% set button = 'btn-secondary' %}
{% endif %}

<button
    class="btn {{button}} recordbutton"
    hx-post="{{url_for('records.company.show')}}"
    hx-target="#recordsarea"
    hx-swap="innerHTML"
>Company</button>

&nbsp;&nbsp;
&nbsp;&nbsp;

{% set button = 'btn-dark' %}

<button
    class="btn {{button}} recordbutton"
    hx-post="{{url_for('records.logout')}}"
    hx-target="#recordsarea"
    hx-swap="innerHTML"
>Logout</button>
&nbsp;&nbsp;

<br/>
<br/>

{% if not page %}
<br/>
Time Records Admin portal
</br>
{% endif %}