{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

<div class="shadow p-3 mb-5 bg-body rounded">
	<h3>
		<i class="bi bi-clock-history"></i>
		Time Records
	</h3>
	<br/>
    <div
		id="recordsarea"
	>
    {% if current_user.is_authenticated %}
        {% include 'records/records-tabs.html' %}
    {% else %}
        {% include 'records/records-main.html' %}
    {% endif %}
    </div>
</div>
{% endblock %}