&nbsp;&nbsp;
<button
    class="btn btn-secondary"
    disabled
>Hours</button>

&nbsp;&nbsp;
<button
    class="btn btn-secondary"
    hx-get="{{url_for('records.portal.showportal')}}"
    hx-target="#recordsarea"
    hx-swap="innerHTML"
>Time Entries</button>

&nbsp;&nbsp;
<button
    class="btn btn-secondary"
    hx-get="{{url_for('records.users.showall')}}"
    hx-target="#recordsarea"
    hx-swap="innerHTML"
>Users</button>

&nbsp;&nbsp;
<button
    class="btn btn-secondary"
    hx-get="{{url_for('records.company.show')}}"
    hx-target="#recordsarea"
    hx-swap="innerHTML"
>Company</button>

&nbsp;&nbsp;
<button
    class="btn btn-secondary"
    hx-get="{{url_for('records.logout')}}"
    hx-target="#recordsarea"
    hx-swap="innerHTML"
>Logout</button>
&nbsp;&nbsp;

<br/>
<br/>