<br/>
<b>flagged entries: </b><b class="something">{{flag_count}}</b>
<table class="table">
    <thead>
        <tr class="row">
            <th class="col">Employee</th>
            <th class="col">Date</th>
            <th class="col">Clock In</th>
            <th class="col">Clock Out</th>
            <th class="col">Hours</th>
            <th class="col">Flagged</th>
            <th class="col">funcs</th>
        </tr>
    </thead>
    <tbody id="mainbody">
        {% for punch in punches %}
            {% include 'punches-row.html' %}
        {% endfor %}
    </tbody>
</table>

<button
    class="btn btn-success"
    hx-post="{{url_for('records.portalnewshow')}}"
    hx-target="#mainbody"
    hx-swap="beforeend"
>New Time Entry</button>