{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

<div class="shadow p-3 mb-5 bg-body rounded">
	<h3>
		<i class="bi bi-clock-history"></i>
		Reset Your Password
	</h3>
	<br/>
    <form action="{{url_for('records.resetpwupdate', id=id)}}" method="post">
    <div class="d-grid gap-2 col-3">
        {{ form.hidden_tag() }}
        
        {{ form.password1.label(class='form-label') }}
        {{ form.password1(class='form-control', autofocus=true) }}
        <br/>
        {{ form.password2.label(class='form-label') }}
        {{ form.password2(class='form-control', autofocus=true) }}
        <br/>
        
    </div>
    <br/>
    <div class="row">
        <div class="d-grid col-1 gap-2">{{ form.submit(class="btn btn-warning") }}</div>
        <div class="d-grid col-1 gap-2">
            <a href="{{url_for('records.main')}}">
                <button 
                    type="button" title="Cancel"
                    class="btn btn-secondary"
                >Cancel</button>
            </a>
        </div>
    </div>
</form>
</div>
{% endblock %}