<div class="d-grid gap-2 col-1">
    <button
        class="btn btn-secondary"
        hx-post="{{url_for('clock.login.logout')}}"
        hx-target="#mainarea"
        hx-swap="innerHTML"
    >Logout</button>

    {% if current_user.last_clock %}
    <!-- already logged in -->
        <button 
            class="btn btn-outline-info"
            hx-post="{{url_for('clock.punch.onepunch', type='i')}}"
            hx-target="#mainarea"
            hx-swap="innerHTML"
            hx-confirm="You are already clocked in. Clock in anyways?"
        >Clock In</button>

        <button 
            class="btn btn-primary"
            hx-post="{{url_for('clock.punch.onepunch', type='o')}}"
            hx-target="#mainarea"
            hx-swap="innerHTML"
        >Clock Out</button>
    {% else %}
    <!-- not logged in -->
        <button 
            class="btn btn-primary"
            hx-post="{{url_for('clock.punch.onepunch', type='i')}}"
            hx-target="#mainarea"
            hx-swap="innerHTML"
        >Clock In</button>

        <button 
            class="btn btn-outline-info"
            hx-post="{{url_for('clock.punch.onepunch', type='o')}}"
            hx-target="#mainarea"
            hx-swap="innerHTML"
            hx-confirm="You are already clocked out. Clock out anyways?"
        >Clock Out</button>
    {% endif %}
</div>