<tr class="row">
    <form 
        hx-target="closest tr"
        hx-swap="outerHTML"
        hx-post="{{url_for('records.entries.portalnew')}}"
        id="editform">
        {{ form.hidden_tag() }}
    </form>
    <td class="col">{{ form.user_id(class="form-control", form="editform", autofocus=true) }}</td>
    <td class="col">{{ form.clock_date(class="form-control", form="editform") }}</td>
    <td class="col">{{ form.clock_in(class="form-control", form="editform") }}</td>
    <td class="col">{{ form.clock_out(class="form-control", form="editform") }}</td>
    <td class="col"></td>
    <td class="col">{{ form.flag(class="form-control", form="editform") }}</td>
    <td class="col">
        <input class="btn btn-success" id="submit" name="submit" type="submit" value="Save"
			form="editform">
        <br/>
        <button
            class="btn btn-secondary"
            hx-post="{{url_for('records.entries.portalcancel')}}"
            hx-target="closest tr"
            hx-swap="outerHTML"
            hx-confirm="Cancel without saving?"
        >Cancel</button>

    </td>
</tr>