<div id="userskey">
    Hide help 
    <a
        href="#"
        title="click to hide the help"
        hx-post="{{url_for('records.users.hidekey')}}"
        hx-target="#userskey"
        hx-swap="outerHTML"
    ><i class="bi bi-arrow-up-circle h6"></i></a>
    
    <br/><br/>

    <i class="bi bi-building-gear h4 adminbadge" title="ADMIN"></i>
    &nbsp;&nbsp;
    Account is an Admin and not an employee

    <br/>
    <i class="bi bi-person-badge h4 userbadge" title="Employee"></i>
    &nbsp;&nbsp;
    Account is an Employee

    <br/>
    <i class="bi bi-person-slash h4 userdisabled" title="Employee disabled"></i>
    &nbsp;&nbsp;
    Account is disabled and cannot log in

    <br/>
    <i class="bi bi-person-check-fill h4 useractive" title="Employee active"></i>
    &nbsp;&nbsp;
    Account is active

    <br/>
    <i class="bi bi-key-fill h4 userpassword" title="Much change password to login"></i>
    &nbsp;&nbsp;
    Account has to change password on next login
    <br/>

</div>