<tr class="row">
    <form 
        hx-target="closest tr"
        hx-swap="outerHTML"
        hx-post="{{url_for('records.users.password', id=user.id)}}"
        id="editform">
        {{ form.hidden_tag() }}
    </form>
    <td class="col">{{user.name}}</td>
    <td class="col">
        {% if user.admin == 'y' %}
        <i class="bi bi-building-gear h4 adminbadge" title="ADMIN"></i>
        {% else %}
        <i class="bi bi-person-badge h4 userbadge" title="Employee"></i>
        {% endif %}
        &nbsp;&nbsp;
        {% if user.active != 'y' %}
        <i class="bi bi-person-slash h4 userdisabled" title="Employee disabled"></i>
        {% else %}
        <i class="bi bi-person-check-fill h4 useractive" title="Employee active"></i>
        {% endif %}

        {% if user.pw_change == 'y' %}
        &nbsp;&nbsp;
        <i class="bi bi-key-fill h4 userpassword" title="Much change password to login"></i>
        {% endif %}
        
    </td>
    <td class="col">
        {% if user.email %}
        {{user.email}}
        {% endif %}
    </td>
    <td class="col">
        {{ form.admin_pass(class="form-control", form="editform") }}
        {{ form.password1(class="form-control", form="editform") }}
        {{ form.password2(class="form-control", form="editform") }}
        {% if message %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
    </td>
    <td class="col">
        {% if user.date_added %}
        {{user.date_added.strftime("%m/%d/%Y %H:%M:%S")}}
        {% endif %}
    </td>

    <td class="col">
        <input class="btn btn-success" id="submit" name="submit" type="submit" value="Save"
			form="editform">
        <br/>
        <button
            class="btn btn-secondary"
            hx-post="{{url_for('records.users.showrow', id=user.id)}}"
            hx-target="closest tr"
            hx-swap="outerHTML"
            hx-confirm="Cancel with out saving?"
        >Cancel</button>
    </td>
</tr>