
{% include 'records/portal.html' %}

Company Settings
<br/>
<br/>

<div class="container text-start">
    <b>Company</b>
    <div class="row justify-content-start">
        <div class="col-2">Name</div>
        <div class="col-2">{{ comp_name }}</div>
    </div>
    <br/>
    
    <b>Email</b>
    <div class="row justify-content-start">
        <div class="col-2">Active</div>
        <div class="col-2">
            {% if email_active == 'y' %}
            Yes
            {% else %}
            No
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-2">Setup</div>
        <div class="col-2">
            {% if email_setup %}
            Yes
            {% else %}
            No
            {% endif %}
            
        </div>
    </div>
    <span class="text-muted">
    (changes will not take affect until server restarted)
    </span>
</div>

<br/>
<button
    class="btn btn-info"
    hx-post="{{url_for('records.company.edit')}}"
    hx-target="#recordsarea"
    hx-swap="innerHTML"
>Edit</button>