{% include 'records/portal.html' %}

<form 
    hx-target="#recordsarea"
    hx-swap="innerHTML"
    hx-post="{{url_for('records.company.save')}}"
    id="editform">
    {{ form.hidden_tag() }}
</form>

Company Settings
<br/>
<br/>

<div class="container text-start">
    <b>Company</b>
    <div class="row justify-content-start">
        <div class="col-2">comp_name</div>
        <div class="col-2">{{ form.comp_name(class="form-control", form="editform") }}</div>
    </div>
    <br/>
    
    <b>Email</b>
    <div class="row justify-content-start">
        <div class="col-2">Active</div>
        <div class="col-2">{{ form.email_active(form="editform") }}</div>
    </div>
    <div class="row justify-content-start">
        <div class="col-2">Email Server:</div>
        <div class="col-2">{{ form.email_server(class="form-control", form="editform") }}</div>
    </div>
    <div class="row justify-content-start">
        <div class="col-2">Send as Address</div>
        <div class="col-2">{{ form.email_send(class="form-control", form="editform") }}</div>
    </div>
    <div class="row justify-content-start">
        <div class="col-2">Server User</div>
        <div class="col-2">{{ form.email_user(class="form-control", form="editform") }}</div>
    </div>
    <div class="row justify-content-start">
        <div class="col-2">
            Server Password
            <br/><span class="text-muted">&nbsp;(no change on blank)</span>
        </div>
        <div class="col-2">
            {{ form.email_pass(class="form-control", form="editform") }}
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-2">Server Port</div>
        <div class="col-2">{{ form.email_port(class="form-control", form="editform") }}</div>
    </div>
    <div class="row justify-content-start">
        <div class="col-2">Server Security</div>
        <div class="col-2">{{ form.email_secure(class="form-control", form="editform") }}</div>
    </div>
    
</div>

<br/>
<input class="btn btn-success" id="submit" name="submit" type="submit" value="Save"
			form="editform">

&nbsp; &nbsp; 
<button
    class="btn btn-secondary"
    hx-post="{{url_for('records.company.show')}}"
    hx-target="#recordsarea"
    hx-swap="innerHTML"
    hx-confirm="Cancel without saving?"
>Cancel</button>
<br/>
<br/>
<span class="text-muted">
Refresh the browser to update the company name<br/>
Restart the time clock for the email settings to take affect<br/>
</span>